@charset "utf-8";
/* CSS Document */

html{font-size:13.3333vw;overflow-y:scroll; overflow-x: hidden;}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,dl,dd,fieldset,legend,input,textarea,select,figure{margin:0;padding:0;}
body{ font-size:12px;font-family:"冬青黑体简体中文","微软雅黑","宋体",Arial,sans-serif;}
a,u,s,del{color:#666;text-decoration:none} 
fieldset ,a img,.bor0 {border:0;}
i,em,b{font-style:normal;font-weight:100;}
li{list-style:none;border:none 0;}
img{vertical-align:middle;}
table{border-collapse:collapse;}/*table合并边框*/
.ind2{text-indent:2em;}
input{outline:none; border:none; background:none;}/* 去除google蓝框 */
textarea{resize:none;}/* 禁止拖动 */
input::-ms-clear{display:none;}

/*溢出隐藏出现省略号*/
.over{
	white-space:nowrap;/*强制不换行*/
	overflow:hidden;/*溢出:隐藏*/
	text-overflow:ellipsis;/*溢出隐藏时出现省略号*/	
}

/*水平垂直对齐*/
.valign{text-align:center;}
.valign img{vertical-align:middle;}
.valign:after{content:"";display:inline-block;vertical-align:middle;height:100%;}


.clear:before{content:"";display:table;}/*margin-top:向上传递问题*/
.clear:after{content:"";clear:both;display:block;}/*清除浮动*/




