div{border:5px solid #000;border-radius: 20px; height: 180px;text-align: center;margin: 20px auto;}
.t{background: rgba(120, 120,120, .5)}
.c{background: rgba(10, 50,150, .5)}
.b{background: rgba(12, 102,10, .5)}
img{width:100px;height:100px;}